target/
boot/
lib_managed/
src_managed/
project/plugins/project/
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
bin/
libexec/
project/boot/
logs/
project/*-shim.sbt
project/project/
project/target/
.scala_dependencies
.worksheet
target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs